/* 
Author: Aerror Li, Lingxiao Meng
Class: CSC337 
Purpose: This is index style css.
*/
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 233, 233);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.front{
    position: fixed;
    right: 5%;
    top:5%
}

#searchArea{
    position: relative;
    margin-left: 10%;
    margin-top: 7%;
    height: 50px;
    width: 800px;
    
}
.button{
    background-color:rgb(223, 223, 223);
    color: black;
}

#jobList{
    position: absolute;
    margin-left: 10%;
    margin-top: 20px;
    width:50%;
    border: 1px solid black;
}

#compList{
    position: absolute;
    left: 75%;
    width: 13%;
    background-color: white;
    height: 75%;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    color:black
}

li a{
    display: block;
    color:rgba(0, 0, 255, 0.253);
    padding: 8px 16px;
    text-decoration: none;

}

li a:hover{
    background-color:lightgray;
    color: white;
}