/* 
    Author: Aerror Li, Lingxiao Meng
    Class: CSC337 
    Purpose: This is addjob style css.
 */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 10pt;
}
button {
    font-size: 10pt;
}

input{
    font-size: 10pt;
}