/*
Author: Aerror Li, Lingxiao Meng
Class: CSC337 
Purpose: This is login style css. 
 */
 body{
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(236, 233, 233);
}
h1{
    color: cadetblue;
}
.main{
    height: 70%;
    width:70%;
    background-color: lightgray;
}
.front{
    position: fixed;
    right: 5%;
    top:5%;
}
.left{
    position: fixed;
    background-color:white;
    text-align: center;
    padding: 10px;
    height: 60%;
    width: 30%;
    left:15%;
    top:20%;
    bottom: 20%;
    border: 2px solid black;
}
.right{
    position: fixed;
    background-color: white;
    text-align: center;
    padding: 10px;
    height: 60%;
    right:15%;
    width: 30%;
    top:20%;
    bottom: 20%;
    border: 2px solid black;
}
