body{
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons{
    position: relative;
    left: 80%;
    top: 10px
}

#searchArea{
    position: relative;
    left: 10%;
}

#jobList{
    position: relative;
    left: 5%
}

#compList{
    position: relative;
    left: 80%;
    top: 0px
    /* todo: adjust the top val */
}